.main__title {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 36px 0px;
}

.age__check-title {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 0px 36px 0px;
}
.age__check-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.age__check-input {
  width: 215px;
  height: 35px;
  border-radius: 20px;
  border: 0px;
  background-color: #D7D7D7;
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 20px 10px 10px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}
.age__check-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: -7px;
  top: -1px;
}
.age__check-controls {
  position: relative;
}
.age__check-answer {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.calc__title {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 0px 36px 0px;
}
.calc__operator-calculate {
  background-color: #000000;
  color: #ffffff;
  width: 25px;
  height: 25px;
  border: 0px;
  border-radius: 20px;
  text-align: center;
}
.calc__input {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #D7D7D7;
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 135px;
  height: 35px;
  border: 0px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
.calc__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calc__operator {
  background-color: #000000;
  color: #ffffff;
  width: 25px;
  height: 25px;
  border: 0px;
  border-radius: 20px;
  text-align: center;
}
.calc__operators-list {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  gap: 10px;
}
.calc__operators-list li {
  flex: 0 0 calc(50% - 5px);
  display: flex;
  justify-content: center;
}

.football__title {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 0px 36px 0px;
}
.football__field {
  width: 546px;
  height: 220px;
  border-radius: 25px;
  border: solid 2px black;
  background-color: #039900;
  position: relative;
}
.football__ball {
  position: absolute;
  transition: 0.5s;
}

.guess-number__title {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 0px 36px 0px;
}
.guess-number__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.guess-number__controls {
  position: relative;
}
.guess-number__input {
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border: 0px;
  background-color: #D7D7D7;
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 20px 10px 10px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}
.guess-number__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: -7px;
  top: -1px;
}
.guess-number__answer {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;
}
.modal__input {
  background-color: #D7D7D7;
  width: 169px;
  height: 35px;
  border-radius: 20px;
  padding: 10px 90px 10px 10px;
  border: 0px;
  margin-bottom: 18px;
}
.modal__input::-moz-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
}
.modal__input::placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
}
.modal__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  width: 392px;
  margin: 22px 0px 42px 0px;
}
.modal__text-hello {
  display: block;
}
.modal__backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}
.modal__content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 24px;
  width: 576px;
  height: 316px;
  max-width: 90%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__svg {
  position: absolute;
}
.modal.is-open {
  display: block;
}
.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  font-size: 22px;
}
.modal__save {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  border: 0px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
}
.modal__icons {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}
.modal__label {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.gamedev {
  top: 154px;
  right: 41px;
}

.tictactoe {
  top: 230px;
  right: 85px;
}

.puzzle {
  top: 230px;
  left: 85px;
}

.sword {
  top: 154px;
  left: 41px;
}

.logo__text {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.logo__text-highlight {
  font-family: "Sacramento";
  font-weight: 400;
  font-size: 12px;
}

.header {
  background-color: #ffffff;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 9px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__links-list {
  display: flex;
  position: relative;
  gap: 50px;
}
.header__links {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 12px;
}
.header__user-name {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}
.header__submenu {
  position: absolute;
  width: 160px;
  height: 105px;
  width: 160;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border: solid 1px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  display: none;
  top: 30px;
  left: -30px;
  z-index: 10;
  background-color: white;
}
.header__submenu-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__submenu-item:hover {
  background-color: rgba(0, 0, 0, 0.116);
}
.header__submenu-link {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #000000;
}
.header__user-block {
  display: flex;
  gap: 51px;
  align-items: center;
}

.rps__btn-user {
  background-color: #000000;
  border: 0px;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rps__title {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 0px 36px 0px;
}
.rps__btn-list {
  display: flex;
  gap: 48px;
  margin: 0px;
}
.rps__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  position: relative;
}
.rps__stats {
  position: absolute;
  right: 0px;
  top: -4px;
}
.rps__stats-text {
  margin: 0px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0%;
}
.rps__btn-check {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  border-radius: 20px;
  gap: 10px;
  padding: 10px 20px 10px 20px;
  background-color: #000000;
  border: 0px;
  width: 182px;
}
.rps__result {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  height: 10px;
}

.scientist__title {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 0px 36px 0px;
}
.scientist__list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  margin-bottom: 36px;
}
.scientist__list-item {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  background-color: #D7D7D7;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.scientist__info {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 8px;
  line-height: 170%;
  letter-spacing: 0%;
}
.scientist__btn {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  border-radius: 20px;
  gap: 10px;
  padding: 10px 20px 10px 20px;
  background-color: #000000;
  border: 0px;
}
.scientist__btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.scientist__btn-list-item {
  flex: 0 1 calc(50% - 20px);
  display: flex;
  justify-content: center;
}
.scientist__hidden {
  opacity: 0;
  pointer-events: none;
}

.team__title {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 0px 36px 0px;
}

.team-mmbr__wrapper {
  display: flex;
  justify-content: space-between;
}
.team-mmbr__btn {
  background-color: transparent;
  border: none;
}
.team-mmbr__img-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: #D7D7D7;
  overflow: hidden;
}
.team-mmbr__img {
  width: 150px;
  height: 150px;
}
.team-mmbr__info {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 0px 24px 0px;
}
.team-mmbr__name {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 20px 0px;
}

.slider__indicator {
  width: 18px;
  height: 3px;
  border-radius: 3px;
  background-color: #D7D7D7;
  transition: 0.3s;
}
.slider__indicator-list {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin: 24px auto;
  width: 100px;
}
.slider__indicator--active {
  width: 30px;
  background-color: #797979;
}

.bgstnumber__title {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 0px 36px 0px;
}
.bgstnumber__input {
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border: 0px;
  background-color: #D7D7D7;
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  text-align: center;
}
.bgstnumber__list {
  display: flex;
  gap: 38px;
  justify-content: center;
}
.bgstnumber__result {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 36px;
}

.time-calc__result {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.time-calc__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.time-calc__title {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0px 0px 36px 0px;
}
.time-calc__input {
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border: 0px;
  background-color: #D7D7D7;
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 20px 10px 10px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}
.time-calc__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -1px;
  right: -7px;
}
.time-calc__controls {
  position: relative;
}

.decor__mini-line {
  width: 100px;
  height: 1px;
  border: 1px solid #000000;
  margin: 18px 50px 18px 0px;
}

.container__header {
  max-width: 1090px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container {
  max-width: 576px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

.decor__line {
  width: 536px;
  height: 1px;
  border: 1px solid #000000;
  margin: 36px auto;
}

body {
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */