@import "./components/age-check";
@import "./components/calculator";
@import "./components/dino-game";
@import "./components/football";
@import "./components/footer";
@import "./components/guess-number";
@import "./components/header";
@import "./components/rps-game";
@import "./components/scientist-picker";
@import "./components/team";
@import "./components/three-inputs";
@import "./components/time-calc";

.container__header
{
    max-width: 1090px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container
{
    max-width: 576px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

ul
{
    list-style-type: none;
    padding: 0px;
}

a
{
    text-decoration: none;
}

.decor__line
{
    width: 536px;
    height: 1px;
    border: 1px solid $color-main;
    margin: 36px auto;
}
