@import "./components/age-check";
@import "./components/calculator";
@import "./components/dino-game";
@import "./components/football";
@import "./components/footer";
@import "./components/guess-number";
@import "./components/header";
@import "./components/rps-game";
@import "./components/scientist-picker";
@import "./components/team";
@import "./components/three-inputs";
@import "./components/time-calc";