@import "../utils/variables";
@import "../utils/mixins";

.main__title
{
    @include text;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin: 36px 0px;
}

.decor__line
{
    width: 536px;
    height: 1px;
    border: 1px solid $color-main;
    margin: 36px auto;
}

.age__check
{
    &-title
    {
        @include text;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin: 0px 0px 36px 0px;
    }

    &-content
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-input
    {
        width: 215px;
        height: 35px;
        border-radius: 20px;
        border: 0px;
        background-color: $interactive;
        color: $interactive-text;
        @include text;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        padding: 10px 20px 10px 10px;
        box-shadow: 3px 3px 0px 0px #00000040;
    }

    &-btn
    {
        background-color: transparent;
        border: none;
        position: absolute;
        right: -7px;
        top: -1px;
    }

    &-controls
    {
        position: relative;
    }

    &-answer
    {
        @include text;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
    }
}
