@import "../utils/variables";
@import "../utils/mixins";

.bgstnumber
{
    &__title
    {
        @include text;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin: 0px 0px 36px 0px;
    }

    &__input
    {
        width: 150px;
        height: 35px;
        border-radius: 20px;
        border: 0px;
        background-color: $interactive;
        color: $interactive-text;
        @include text;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        padding: 10px 20px;
        box-shadow: 3px 3px 0px 0px #00000040;
        text-align: center;
    }

    &__list
    {
        display: flex;
        gap: 38px;
        justify-content: center;
    }

    &__result
    {
        @include text;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 36px;
    }
}

