@import "../utils/variables";
@import "../utils/mixins";


.dino
{
    width: 54px;
    height: auto;
    position: absolute;
    bottom: 37px;
    left: 50px;

    &__wrapper
    {
        width: 100%;
        height: 297px;
        position: relative;
        overflow: hidden;
    }

    &__result
    {
        height: 10px;
        margin: 0px 0px 18px 0px;
        @include text; 
        font-size: 12px;
        line-height: 170%;
        letter-spacing: 0%;
    
    }

    &__bg
    {
        background-image: url(/img/dino__bg.jpg);
        background-position: center;
        background-repeat: repeat-x;
        height: 297px;
        background-position: 0 -50px;
    }

    &__cactus 
    {
        position: absolute;
        height: 50px;
        bottom: calc(37px + 0px);
    }
    &__btn
    {
        @include text;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $bg;
        border-radius: 20px;
        gap: 10px;
        padding: 10px 20px 10px 20px;
        background-color: $color-main;
        border: 0px;
        width: 182px;
        margin-bottom: 18px
    }

    &__title
    {
        @include text;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin: 0px 0px 18px 0px;
    }

    &__btn-wrapper
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

}


