@import "../utils/variables";
@import "../utils/mixins";

.football
{
    &__title
    {
        @include text;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin: 0px 0px 36px 0px;
    }

    &__field
    {
        width: 546px;
        height: 220px;
        border-radius: 25px;
        border: solid 2px black;
        background-color: $success;
        position: relative;
    }

    &__ball
    {
        position: absolute;
        transition: 0.5s;
    }
}

