@import "../utils/variables";
@import "../utils/mixins";

.guess-number
{
    &__title
    {
        @include text;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin: 0px 0px 36px 0px;
    }

    &__content
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__controls
    {
        position: relative;
    }

    &__input
    {
        width: 150px;
        height: 35px;
        border-radius: 20px;
        border: 0px;
        background-color: $interactive;
        color: $interactive-text;
        @include text;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        padding: 10px 20px 10px 10px;
        box-shadow: 3px 3px 0px 0px #00000040;
    }

    &__btn
    {
        background-color: transparent;
        border: none;
        position: absolute;
        right: -7px;
        top: -1px;  
    }

    &__answer
    {
        @include text;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
    }
}


