@import "../utils/variables";
@import "../utils/mixins";

.modal 
{
    position: fixed;
    inset: 0;
    display: none;
    z-index: 1000;

    &__input
    {
        background-color: $interactive;
        width: 169px;
        height: 35px;
        border-radius: 20px;
        padding: 10px 90px 10px 10px;
        border: 0px;
        margin-bottom: 18px;
    }


    &__input::placeholder
    {
        @include interactive-text;
    }

    &__text
    {
        font-family: "Inter";
        font-weight: 400;
        font-size: 12px;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: center;
        width: 392px;
        margin: 22px 0px 42px 0px;
    }

    &__text-hello
    {
        display: block;
    }

    &__backdrop 
    {
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,.6);
    }

    &__content 
    {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
        background: #fff;
        padding: 24px;
        width: 576px;
        height: 316px;
        max-width: 90%;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__svg
    {
        position: absolute;
    }

    &.is-open 
    {
        display: block;
    }

    &__close 
    {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    font-size: 22px;
    }

    &__save
    {
        @include text;
        border: 0px; 
        background-color: $color-main;
        color: $bg;
        border-radius: 20px;
        padding: 10px 20px;

    }

    &__icons 
    {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    }

    &__label
    {
        font-family: "Inter";
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.gamedev
{
    top: 154px;
    right: 41px;   
}

.tictactoe
{
    top: 230px;
    right: 85px;
}

.puzzle
{
    top: 230px;
    left: 85px;
}

.sword
{
    top: 154px;
    left: 41px;
}

.logo__text
{
    @include text;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.logo__text-highlight
{
    font-family: "Sacramento";
    font-weight: 400;
    font-size: 12px;
}

.header__logo
{
    display: flex;
    align-items: center;
    gap: 9px;
}

.header__content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links-list
{
    display: flex;
    position: relative;
    gap: 50px;
}

.header__links
{
    @include text;
    color: $color-main;
    font-size: 12px;
}

.header__user-name
{
    @include text;
    font-size: 12px;
}

.header__submenu
{
    position: absolute;
    width: 160px;
    height: 105px;
    width: 160;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border: solid 1px $color-main;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    display: none;
    top: 30px;
    left: -30px
}

.header__submenu-item
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.header__submenu-item:hover
{
    background-color: rgba(0, 0, 0, 0.116);
}

.header__submenu-link
{
    @include text;
    text-align: center;
    color: $color-main;
}

.header__user-block
{
    display: flex;
    gap: 51px;
    align-items: center;
}