@import "../utils/variables";
@import "../utils/mixins";

.modal 
{
    position: fixed;
    inset: 0;
    display: none;
    z-index: 1000;

    &__input
    {
        background-color: $interactive;
        width: 169px;
        height: 35px;
        border-radius: 20px;
        padding: 10px 90px 10px 10px;
        border: 0px;
        margin-bottom: 18px;
    }


    &__input::placeholder
    {
        @include interactive-text;
    }

    &__text
    {
        font-family: "Inter";
        font-weight: 400;
        font-size: 12px;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: center;
        width: 392px;
        margin: 22px 0px 42px 0px;
    }

    &__text-hello
    {
        display: block;
    }

    &__backdrop 
    {
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,.6);
    }

    &__content 
    {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
        background: #fff;
        padding: 24px;
        width: 576px;
        height: 316px;
        max-width: 90%;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__svg
    {
        position: absolute;
    }

    &.is-open 
    {
        display: block;
    }

    &__close 
    {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    font-size: 22px;
    }

    &__save
    {
        @include text;
        border: 0px; 
        background-color: $color-main;
        color: $bg;
        border-radius: 20px;
        padding: 10px 20px;

    }

    &__icons 
    {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    }

    &__label
    {
        font-family: "Inter";
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.gamedev
{
    top: 154px;
    right: 41px;   
}

.tictactoe
{
    top: 230px;
    right: 85px;
}

.puzzle
{
    top: 230px;
    left: 85px;
}

.sword
{
    top: 154px;
    left: 41px;
}

