@import "../utils/variables";
@import "../utils/mixins";

.time-calc
{
    &__result
    {
        @include text;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%; 
    }

    &__wrapper
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    &__title
    {
        @include text;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin: 0px 0px 36px 0px;
    }

    &__input
    {
        width: 150px;
        height: 35px;
        border-radius: 20px;
        border: 0px;
        background-color: $interactive;
        color: $interactive-text;
        @include text;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        padding: 10px 20px 10px 10px;
        box-shadow: 3px 3px 0px 0px #00000040;
    }

    &__btn
    {
        background-color: transparent;
        border: none;
        position: absolute;
        top: -1px; 
        right: -7px;
    }

    &__controls
    {
        position: relative;
    }

}


.decor__mini-line
{
    width: 100px;
    height: 1px;
    border: 1px solid $color-main;
    margin: 18px 50px 18px 0px;
}

